default: &default
  DATABASE_USER: postgres
  DATABASE_PASSWORD: password
  DATABASE_HOST: localhost
  DATABASE_NAME: eatiplaner-plan-service

development:
  <<: *default

test:
  DATABASE_NAME: eatiplaner-plan-service-test
  <<: *default
